.view-container {
    width: 70%;
    height: 25%;
    margin: 50px auto;
    border: 2px solid black;
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}

p{
    margin-left: 10px;
}

.heading {
    margin: 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@keyframes yourAnimation{
    0%{
        }
    1%{
        transform: rotate(45deg);
        }
    22%{
        transform: rotate(-45deg);
        }
    49%{
        transform: rotate(45deg);
        }
    75%{
        transform: rotate(-45deg);
        }
    99%{
        transform: rotate(0);
        }
}

.elementToAnimate{
    animation: yourAnimation 1s forwards 0s linear;
}