.view-container {
    width: 200%;
    height: 21%;
    text-align: left;
    margin: 50px auto;
    border: 2px solid black;
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
    animation: displayElmentAnimation 1s forwards 0s linear;
}

p{
    margin-left: 18px;
}

.heading {
    text-align: center;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    font-size: 25px;
    border-bottom: 1px solid black;
}

@keyframes displayElmentAnimation{
    0%{
        }
    1%{
        transform: rotate(45deg);
        }
    22%{
        transform: rotate(-45deg);
        }
    49%{
        transform: rotate(45deg);
        }
    75%{
        transform: rotate(-45deg);
        }
    99%{
        transform: rotate(0);
        }
}
