.button {
    width: 70%;
}

.title {
    text-align: center;
    margin: 45px;
    border-bottom: 1px solid black;
    font-size: 50px;
}

.sub-container {
    margin-left: 25px;
    margin-top: 40px;
}

p {
    font-size: 25px;
}

.container {
    margin: 10px;
    background: rgba(243, 242, 241, 0.808);
    border: 2px solid black;
    width: 100%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}

.button-container {
    margin-top: 30px;
    text-align: center;
}

.phone-container {
    position: relative;
}

.prefix {
    position: absolute;
    padding: 3px;
}

.input {
    padding: 5px;
    border: 1px dashed black;
    width: 60%;
    height: 30%;
    border: none;
    border-bottom: 1px solid black;
    background: rgba(243, 242, 241, 0.808);
}

.checkbox-container {
    margin: 100px 0 0 0;
}

.icon {
    margin-left: 15px;
    font-size: 12px;
    color: orangered;
}